.bg-blue-dark{
     background: #0f3959;
}
.containerRegister{
   max-width: 1100px;
   margin:  0 auto !important;
  
}
.p-7{
   margin-top: 40px!important;
}
.p-2{
     margin-top: 15px!important;
}